// Custom Properties
:root {
    --dark-bg-color: #1F2022;
    --light-bg-color: rgb(153, 151, 151);
    --light-accent-color: white;
    --dark-accent-color: black;
    --transition-default: ease 0.4s;
    --font-Helvetica: 'Helvetica', serif;
    --light-transparent-bg-color: rgba(255, 255, 255, 0.3);
    --dark-transparent-bg-color: rgba(20, 20, 20, 0.7);
    --border-radius: 5px;
}

// General
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-accent-color);
}

h1, h2, h3, h4, p {
    font-family: 'Playfair Display', serif;
}

// Header --Section
@mixin headerLogoSize {
    padding: 0em 1em;
    width: 100%;
    max-width: 6em;
    max-height: 6em;
  };

.desktop-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    background-color: var(--light-transparent-bg-color);
    transition: var(--transition-default);
    width: 98vw;
    padding-left: 1em;
    padding-right: 1em;
    @media only screen and (max-width: 900px) {
        top: 0;
        bottom: 0;
        left: -90%;
        width: 70%;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(180deg, var(--dark-bg-color), var(--dark-accent-color));
        border-right: solid 1px var(--light-accent-color);
        box-shadow: 1px 1px 10px 10px var(--dark-accent-color);
    }
    .desktop-header-left {
        display: flex;
        @media only screen and (max-width: 900px) {
            flex-direction: column;
            padding-bottom: 2em;
            border-bottom: 2px solid var(--light-accent-color);
        }
        .headerLogoLink {
            width: auto;
            height: 100%;
            margin: 0 auto;
            display: flex;
        }
        img {
            @include headerLogoSize;
            @media only screen and (max-width: 1300px) {
                transform: scale(0.8);
            }
            @media only screen and (max-width: 900px) {
                flex-direction: column;
                margin: 0 auto;
                transform: scale(1);
            }
        }
        h1 {
            margin: 0;
            align-self: center;
            color: var(--light-accent-color);
            @media only screen and (max-width: 1300px) {
                font-size: 1.5em
            }
            @media only screen and (max-width: 950px) {
                font-size: auto;
            }
        }
    }
    .desktop-header-right {
        display: flex;
        overflow: initial;
        padding-right: 1.2em;
        @media only screen and (max-width: 900px) {
            justify-content: center;
            margin: 0 auto;
            padding-right: 0em;
        }
        .headerMenuItems {
            display: flex;
            justify-content: space-around;
            align-self: center;
            padding: 0em;
            @media only screen and (max-width: 900px) {
                justify-content: center;
                flex-direction: column;
            }
            .navItem {
                cursor: pointer;
                display: flex;
                margin-left: 2em;
                margin-right: 1em;
                font-size: 1.2em;
                font-family: var(--font-Helvetica);
                font-weight: bolder;
                color: var(--light-accent-color);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &:focus {
                    text-decoration: underline;
                }
                @media only screen and (max-width: 1300px) {
                    margin-left: 1em;
                    margin-right: 0.5em;
                    font-size: 1em;
                }
                @media only screen and (max-width: 900px) {
                    justify-content: center;
                    margin: 0 auto;
                    margin-top: 1.3em;
                    font-size: 1.2em;
                }
            }
        }
    }
    .headerSocialLinks {
        position: absolute;
        right: 1%;
        display: flex;
        flex-direction: column;
        padding-top: 12%;
        padding-right: 1.1em;
        transform: translateX(4em);
        transition-duration: 3s;
        .headerMobileSocialIconLink {
            transition-duration: 3s;
        }
        @media only screen and (max-width: 900px) {
            position: relative;
            display: grid;
            grid-gap: 1.5em;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
            flex-direction: column;
            padding-right: 0em;
            transform: translateX(0.5em);
        }
    }
}

.mobileHeaderTab {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 1em;
    font-size: 1.7em;
    z-index: 5;
    transition: var(--transition-default);
    pointer-events: none;
    opacity: 0;
    @media only screen and (max-width: 900px) {
        display: block;
        opacity: 1;
        cursor: pointer;
        pointer-events: auto;
    }
}

.crossOut {
    display: none;
    color: var(--light-accent-color);
    transition: var(--transition-default);
}

.hamburger {
    color: var(--light-accent-color);
    text-shadow: -2px 2px var(--dark-accent-color);
    transition: var(--transition-default);
}

// header when scrolling
html:not([data-scroll='0']) {
    .desktop-header {
        background: linear-gradient(180deg, var(--dark-bg-color), var(--dark-accent-color));
        box-shadow: 1px 1px 10px 10px var(--dark-accent-color);
    }

    .businessLogo {
        text-shadow: 1px 1px 6px var(--light-bg-color);
    }

    .headerSocialLinks {
        transform: translateX(0em);
    }
}

// Main Content

// Auto-Play Video --Section
.AutoPlayVideo-Section {
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
    }
    .sectionTextDiv {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;
        margin: 0 auto;
        padding: 1em;
        z-index: 2;
        overflow: hidden;
        h1, p {
            margin: 0 auto;
            margin-bottom: 0.5em;
            margin-right: 0.5em;
            margin-left: 0.5em;
            color: var(--light-accent-color);
            font-size: 2.5em;  
            overflow: hidden;        
        }
        .sectionSubText {
            font-size: 1.5em;
            margin-bottom: 1.7em;
        }
        .AutoPlayVideoButttonLink {
            width: 190px;
            height: 40px;
            margin: 0 auto;
            .auto-Play-CTA {
                width: 190px;
                height: 40px;
                margin: 0 auto;
                outline: white solid 2px;
                background-color: rgba(255, 255, 255,0.1);
                border: none;
                color: var(--light-accent-color);
                transition: var(--transition-default);
                font-weight: normal;
                cursor: pointer;
                &:hover {
                    background-color: var(--light-accent-color);
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
    .video {
        width: 100vw;
        background-size: cover;
        filter: brightness(30%);
        box-shadow: 2px 2px 4px 1px var(--dark-accent-color);
        @media only screen and (max-width: 900px) {
            width: auto;
            height: 100vh;
        }
    }
}

    // Images and Text Panel --Section
    @mixin numberOfPanels {
        grid-template-columns: repeat(4, 1fr);
        @media only screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 700px) {
            grid-template-columns: repeat(1, 1fr);
        }
      };

.ImagesTextPanel-Section {
    height: 100%;
    width: 100%;
    .imageTextPanelHeading {
        width: 100%;
        margin: 2em 0 2em 0;
        text-align: center;
        font-weight: lighter;
        text-shadow: 1px 1px 3px var(--dark-accent-color);
    }
    .panelContainer {
        display: grid;
        grid-gap: 1em;
        padding: 1em;
        max-width: 100em;
        width: 80%;
        justify-items: center;
        margin: 0 auto;
        @include numberOfPanels;
        .imageTextPanelLink {
            height: 100%;
            width: 100%;
        }
        .ImagesTextPanelDivs {
            height: 25em;
            position: relative;
            width: 100%;
            border-radius: var(--border-radius);
            transition: var(--transition-default);
            &:hover {
                filter: brightness(150%);
                box-shadow: 2px 2px 4px 1px var(--dark-accent-color);
                border-radius: var(--border-radius);
            }
            &:hover .imageTextPanelText {
                color: var(--dark-accent-color);
                text-shadow: 0.00001em 0.00001em 0.5em var(--light-accent-color);
                left: 7%;
                bottom: 6%;
            }
            &:hover .imageTextPanelText::after {
                width: 100%;
            }
            .imageTextPanelText {
                position: absolute;
                bottom: 5%;
                left: 5%;
                transition: var(--transition-default);
                color: var(--light-accent-color);
                &::after {
                    content: '';
                    height: 2px;
                    background-color: var(--light-accent-color);
                    position: absolute;
                    margin: 0 auto;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    transition: var(--transition-default);
                }
            }
        }
    }
  }

// Right Image and Left Text --Section
.RightImageLeftText-Section {
    margin: 6em 0em 2em 0em;
    padding: 1em;
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    @media only screen and (max-width: 900px) {
        & {
            display: block;
        }
    }
    .LeftImageRightTextSectionLeftSideDiv {
        border: solid 1px var(--light-accent-color);
        border-radius: var(--border-radius);
        margin: 20% -5% 20% 10%;
        padding: 20% 10% 10% 10%;
        box-shadow: 0px 0px 65px 20px var(--dark-accent-color);
        background: linear-gradient(45deg, var(--dark-accent-color), var(--dark-bg-color));
        @media only screen and (max-width: 900px) {
            & {
                padding: 8% 10% 10% 10%;
            }
        }
        h1, h3, p {
            max-width: 30em;
            margin-bottom: 2em;
            line-height: 200%;
            color: var(--light-accent-color);
        }
        h1 {
            text-shadow: 1px 1px 2px var(--light-accent-color);
        }
        .leftImageRightTextImageButton {
            width: 190px;
            height: 40px;
            margin: 0 auto;
            margin-top: 3em;
            outline: white solid 2px;
            background-color: var(--dark-accent-color);
            border: 1px solid var(--light-accent-color);
            color: var(--light-accent-color);
            transition: var(--transition-default);
            font-weight: normal;
            cursor: pointer;
            &:hover {
                background-color: var(--light-accent-color);
                color: var(--dark-accent-color);
                font-weight: bold;
            }
        }
    }
    .LeftImageRightTextSectionRightSideDiv {
        .leftImageRightTextImageImageEl {
            width: 100%;
            padding: 0%;
            box-shadow: 2px 2px 13px 2px var(--dark-accent-color);
            border-radius: var(--border-radius);
        }
    }
}

// Only Text Panels --Section
.OnlyTextPanelTestimonial-Section {
    width: 100%;
    height: 100%;
    margin: 4em auto 4em auto;
    display: grid;
    grid-gap: 1em;
    background-color: var(--light-transparent-bg-color);
    .onlyTextpanelTestimonialHeaderEl {
        color: var(--dark-accent-color);
        margin: 0 auto;
        text-align: center;
        width: 100%;
        font-weight: lighter;
        text-shadow: 1px 1px 2px var(--dark-accent-color);
    }
    .onlyTextpanelTestimonialtextDiv {
        margin: 1em 2em;
        border: 1px solid var(--light-bg-color);
        box-shadow:  6px 6px 8px #b8b8b8,
        -6px -6px 8px var(--light-accent-color);
        border-radius: var(--border-radius);
        transition: var(--transition-default);
        max-width: 32em;
        background: linear-gradient(45deg, var(--dark-accent-color), var(--dark-bg-color));
        position: relative;
        // box-shadow: 3px 4px 2px 2px var(--dark-accent-color);
        &:hover {
            box-shadow: 3px 4px 8px 0px var(--dark-accent-color);
        }
        .onlyTextpanelTestimonialtextEl {
            transition: var(--transition-default); 
            margin-bottom: 2em;
            font-size: larger;
            line-height: 200%;
            color: var(--light-accent-color);
            margin: 1em;
            margin-bottom: 4em;
        }
        .onlyTextpanelTestimonialSignatureEl {
            color: var(--light-accent-color);
            position: absolute;
            bottom: 7%;
            margin: 0 auto;
            width: 100%;
            text-shadow: 1px 1px 2px var(--light-accent-color);
        }
    }
    .onlyTextpanelTestimonialDivEl {        
        height: 100%;
        width: 90%;
        text-align: center;
        color: var(--dark-accent-color);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0em;
        min-height: 10em;
        margin: 0 auto;
        justify-items: center;
        @media only screen and (max-width: 900px) {
            & {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}


// Images Zoom On Hover --Section
.ImagesZoomOnHover-Section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0em;
    @media only screen and (max-width: 1000px) {
        & {
            grid-template-columns: repeat(1, 1fr);
            height: 150vh;
        }
    }
    .imageOnHoverDivs {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: var(--transition-default);
        &:hover .imageOnHoverBackgroundDivs {
            transform: scale(1.15);
            filter: brightness(50%);
        }
        &:hover .imageOnHoverButton {
            transform: translateY(0em);
            opacity: 100;
        }
        .imageOnHoverBackgroundDivs {
            height: 100%;
            width: 100%;
            background-size: auto;
            background-position: bottom;
            transition: var(--transition-default);
        }
        .imageOnHoverMainText {
            position: absolute;
            top: 50%;
            right: 0%;
            left: 0%;
            margin: 0 auto;
            font-size: 2em;
            text-align: center;
            width: 35%;
            color: var(--light-accent-color);
            background-color:rgba(0, 0, 0, 0.6);
            @media only screen and (max-width: 1000px) {
                & {
                    width: 40%;
                    min-width: 220px;
                }
            }
        }
        .imageOnHoverButton {
            position: absolute;
            top: 60%;
            right: 0%;
            left: 0%;
            margin: 0 auto;
            font-size: 1em;
            text-align: center;
            width: 190px;
            height: 40px;
            margin-top: 3em;
            outline: white solid 2px;
            background-color: var(--dark-accent-color);
            border: 1px solid var(--light-accent-color);
            color: var(--light-accent-color);
            font-weight: normal;
            cursor: pointer;
            transition: var(--transition-default);
            transform: translateY(42px);
            opacity: 0;
            &:hover {
                background-color: var(--light-accent-color);
                color: var(--dark-accent-color);
                font-weight: bold;
            }
        }
        .imageOnHoverButtonLinks {
            height: 100%;
            width: 100%;
        }
    }
}

// Contact CTA and Email Submission ---Section
.ContactCTAEmailSubmission-Section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: 900px) {
        & {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .ContactCTAEmailSubmissionLeftDiv, .ContactCTAEmailSubmissionRightDiv {
        text-align: left;
        align-self: center;
        h1, h3, p {
            color: var(--light-accent-color);
        }
        h1 {
            text-shadow: 1px 1px 2px var(--light-accent-color);
        }
        @media screen and (max-width: 900px) {
            & {
                margin: 0 auto;
            }
        }
    }
    .ContactCTAEmailSubmissionLeftDiv {
        background-color: var(--dark-transparent-bg-color);
        border: none;
        box-shadow: inset 0.8em 0em 15px 15px var(--dark-accent-color);
        z-index: 2;
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 900px) {
            & {
                box-shadow: inset 0em 0.8em 15px 15px var(--dark-accent-color);
            }
        }
        h3 {
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            text-shadow: 1px 1px 2px var(--light-accent-color);
        }
        p {
            max-width: 50%;
            margin: 0 auto;
            margin-bottom: 2em;
            line-height: 200%;
        }
        a {
            width: 190px;
            height: 40px;
            margin: 0 auto;
            margin-bottom: 3em;
        }
        button {
            margin-bottom: 3em;
            height: 100%;
            width: 100%;
            outline: white solid 2px;
            background-color: var(--dark-accent-color);
            border: 1px solid var(--light-accent-color);
            color: var(--light-accent-color);
            transition: var(--transition-default);
            font-weight: normal;
            cursor: pointer;
            &:hover {
                background-color: var(--light-accent-color);
                color: var(--dark-accent-color);
                font-weight: bold;
            }
        }
    }
    .ContactCTAEmailSubmissionRightDiv {
        border: 1px solid var(--light-accent-color);
        border-left: none;
        box-shadow: inset -0.8em 0em 15px 15px var(--dark-accent-color);
        padding-left: 5em;
        background-color: var(--dark-transparent-bg-color);
        justify-content: left;
        max-width: 40em;
        margin-right: 2em;
        @media screen and (max-width: 900px) {
            & {
                margin: 0 auto;
                border: none;
                box-shadow: inset 0em -0.8em 15px 15px var(--dark-accent-color);
            }
        }
        h1 {
            margin-top: 1em;
        }
        p {
            margin: 1em 6em 2em 0em;
            line-height: 200%;
        }
        form {
            margin-bottom: 2em;
            input {
                height: 2.4em;
                width: 16em;
                border: 1px solid var(--dark-accent-color);
                border-radius: var(--border-radius);
            }
        }
        a {
            margin: 0 auto;
            button {
                margin-bottom: 3em;
                width: 150px;
                height: 30px;
                outline: white solid 2px;
                background-color: var(--light-accent-color);
                border: 1px solid var(--dark-accent-color);
                color: var(--dark-accent-color);
                transition: var(--transition-default);
                font-weight: normal;
                cursor: pointer;
                margin-left: 5px;
                &:hover {
                    background-color: var(--dark-accent-color);
                    border: 1px solid var(--light-accent-color);
                    color: var(--light-accent-color);
                    font-weight: bold;
                }
            }
        }
    }
}

// Footer --Section
